[Desktop Entry]
Name=Joe
Comment=Easy to use editor
Comment[de]=Einfach handzuhabender Editor
Comment[fr]=Éditeur facile à utiliser
Comment[pl]=Łatwy w użyciu edytor tekstowy
Comment[tr]=Kolay kullanımlı metin düzenleyici
Icon=joe
Exec=joe
Terminal=true
Type=Application
Categories=ConsoleOnly;TextEditor;
# vi: encoding=utf-8
